[python]
python_binary = "/path/to/python"

[preferences]
bitbucket_host = # fill out, i.e. https://git.rabobank.nl
private_token = # fill out

user_slug = # fill out, i.e. trietsr

# 'name' or 'activity'
sort_on = activity
abbreviation_characters = 30
omit_reviewed_and_approved = False
notifications_enabled = True
